#scores {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#tally {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#selections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

